.game h1 {
    font-size: 3rem; /* Ajusta o tamanho da fonte para 40px */
    margin-bottom: 1rem; /* Adiciona um espaço inferior menor */
  }
  
  .points span {
    font-weight: bold;
    font-size: 1.5rem; 
  }

  
  .span-tip {
    color: #ffea00; 
  }
  
  

  
  .wordContainer {
    margin: 1rem; /* Margem menor */
    padding: 2rem; /* Padding aumentado */
    border: 0.5rem solid #ff330000; /* Borda vermelha com espessura reduzida */
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espaço entre elementos reduzido */
  }
  
  .letter, .blankSquare {
    font-size: 3.5rem; /* Tamanho de fonte aumentado */
    line-height: 1.5;
    height: 6rem; /* Altura e largura ajustadas para quadrados menores */
    width: 6rem;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  

.letterContainer p {
    margin-bottom: 20px;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    margin-right: 35px;
    font-size: 40px;
    text-align: center;
}